{% extends 'pages/register.html' %}
{% load static %}

{% block ae_fp_status %}
    active
{% endblock ae_fp_status %}

{% block ae__classtext %}
    lock-page
{% endblock ae__classtext %}

{% block ae__classtext1 %}
    lock-page
{% endblock ae__classtext1 %}

{% block ae__pagetext2 %}
    <img src="{% static 'assets/img/stc1.png' %}" alt="STC" style="max-width: 20%"></img>
{% endblock ae__pagetext2 %}

{% block ae__bgimg %}
    bg14.jpg
{% endblock ae__bgimg %}


{% block content %}
    <div class="container">
        <div class="logo-container card-hidden mb-5" style="text-align: center">
            <img src="{% static 'assets/img/stc1.png' %}" alt=""></img>
        </div>
        <div class="col-md-5 ml-auto mr-auto">
            <div class="card card-lock text-center">
                <div class="card-header placetop">
                    {#            <p class="badge-info">Forgot Password</p>#}
                </div>
                <form class="form" autocomplete="off" method='POST' action=""> {% csrf_token %}
                    <div class="card-body ">
                        <div class="form-group">
                            <div class="input-group form-control-lg">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons users_circle-08"></i>
                                    </div>
                                </div>
                                {{ form.user_id }}
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend form-control-lg">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons objects_key-25"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Your Encryption" for={{ form.enc_c }}
                                        </div>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-6">
                                    <div class="input-group-prepend form-control-lg">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons shopping_credit-card"></i>
                                        </div>
                                    </div>
                                    {{ form.password1 }}
                                </div>
                                <div class="input-group col-md-6">
                                    <div class="input-group-prepend form-control-lg">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons shopping_credit-card"></i>
                                        </div>
                                    </div>
                                    {{ form.password2 }}
                                </div>
                            </div>
                            {% if form.errors %}
                                <ul class="errorlist" style="color:Tomato;text-align:left">
                                    {% for field in form %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <input type="submit" class="btn btn-primary btn-block" value="Reset Password"></input>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block ae__script %}
    <script>
        $(document).ready(function () {
            demo.checkFullPageBackgroundImage();
            setTimeout(function () {
                $('.logo-container').removeClass('card-hidden');
            }, 500);
        });
    </script>
{% endblock ae__script %}