{% extends 'confirm_email.html' %}
{% load static %}

{% block content %}
    <tr>
        <td class="h3 center pb25"
            style="color:#000000; font-family:'Lato', Arial ,sans-serif; font-size:24px; line-height:32px; font-weight:bold; text-align:center; padding-bottom:25px;">
            Hello dear, {{ name }}</td>
    </tr>
    <tr>
        <td class="text-center pb25"
            style="color:#777777; font-family:'Lato', Arial,sans-serif; font-size:17px; line-height:30px; text-align:center; padding-bottom:25px;">
            {{ content }}
        </td>
    </tr>
{% endblock content %}